body {
  background-color: rgb(244, 202, 237);
  font-family: 'Courier New', Courier, monospace;
}

header {
  background-color: #bc772e;
  display: flex;
  width: 100%;
  height: 60px;
  line-height: 5px;
  color: #f0ead6;
  flex-wrap: wrap;
  justify-content: space-between;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

nav a {
  color: #f0ead6;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px;
}


#hero {
  background-image: url("/assets/images/hero.jpeg");
  min-height: 30vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: left;
  justify-content: space-around;
}

.work {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  background-color:#bc772e;
}

.project-wrapper {
  width: 80%;
  height: 500px;
  display: flex;
  justify-content: center;
}

.project-grid {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
}

.project {
  border: solid;
  color: rgb(222, 166, 166);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  opacity: 0.5;
}

.project:hover {
  opacity: 1.0;
}

.holder-one {
  grid-column: 1/3;
  grid-row: span 2;
  background-image: url("/assets/images/Horiseon.png");
}

.holder-two {
  background-image: url("/assets/images/PasswordGenerator.png");
  background-position: 50% 15%;
}

.holder-three {
  background-image: url("");
  background-position: 60% 50%;
}

.holder-four {
  background-image: url("");
}

.holder-five {
  background-image: url("");
}

footer {
  width: 100%;
  height: 60px;
  line-height: 5px;
  color: #f0ead6;
  background-color: #bc772e;
  display: flex;
  flex-direction: row;
  padding-top: 30px;
  margin-bottom: 30px;
  align-content: center;
}

.contact{

}
